<div class="col-10 main-content">
    <div class="task-summary text-center mb-4">
        <span>Total: <strong>{{totalCount}}</strong></span>
        |
        <span>En progreso: <strong>{{pendingCount}}</strong></span>
        |
        <span>Terminadas: <strong>{{completeCount}}</strong></span>
    </div>
    <h2>Mis tareas</h2>
    <div class="container">
        <button class="btn btn-light m-1">Inbox</button>
        <button class="btn btn-primary m-1">Pendientes</button>
        <button class="btn btn-light m-1">En espera</button>
        <button class="btn btn-light m-1">Completas</button>
        <button class="btn btn-light m-1">Archivadas</button>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card text-center mb-4" style="cursor: pointer;" data-bs-toggle="modal"
                data-bs-target="#modalCrear">
                <div class="card-body">
                    <h5 class="card-title">AGREGAR</h5>
                </div>
            </div>
        </div>

        {{#each tareas}}
        <div class="col-md-3">
            <div class="card card-grid mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{titulo}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{#if estado}}
                        Completa
                        {{else}}
                        Pendiente
                        {{/if}}
                    </h6>
                    <p class="card-text">{{descripcion}}</p>
                </div>
                <div class="card-footer d-flex justify-content-evenly p-2 text-center align-middle ">
                    {{#if estado}}
                    <button class="btn btn-warning btn-pendiente" data-id="{{id}}">❌</button>
                    {{else}}
                    <button class="btn btn-success btn-completado" data-id="{{id}}">✔</button>
                    {{/if}}
                    <button class="btn btn-info btn-ver" data-id="{{id}}">Ver</button>
                    <button class="btn btn-warning btn-editar" data-id="{{id}}">Editar</button>
                    <button class="btn btn-danger btn-eliminar" data-id="{{id}}">Eliminar</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div class="modal fade" id="modalCrear" tabindex="-1" aria-labelledby="modalCrearLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearLabel">Crear Nueva Tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formCrear">
                    <div class="mb-3">
                        <label for="tituloCrear" class="form-label">Título</label>
                        <input type="text" class="form-control" id="tituloCrear" required />
                    </div>
                    <div class="mb-3">
                        <label for="descripcionCrear" class="form-label">Descripción</label>
                        <textarea class="form-control" id="descripcionCrear" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="categoriasCrear-select" class="form-label">Categoría</label>
                        <select class="form-select" id="categoriasCrear-select" required></select>
                    </div>
                    <div class="mb-3">
                        <label for="listasCrear-select" class="form-label">Lista</label>
                        <select class="form-select" id="listasCrear-select" required></select>
                    </div>
                    <button type="submit" class="btn btn-primary">Crear tarea</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="modalVer" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles de la Tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 id="verTitulo"></h5>
                <p><strong>Descripción:</strong>
                    <span id="verDescripcion"></span>
                </p>
                <p><strong>Estado:</strong> <span id="verEstado"></span></p>
                <p><strong>Fecha de Creación:</strong>
                    <span id="verFechaCreacion"></span>
                </p>
                <p><strong>Fecha de Modificación:</strong>
                    <span id="verFechaModificacion"></span>
                </p>
                <p><strong>Categoría:</strong> <span id="verCategoria"></span></p>
                <p><strong>Lista:</strong> <span id="verLista"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarLabel">Editar Tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formEditar">

                    <div class="mb-3">
                        <label for="editTitulo" class="form-label">Título</label>
                        <input type="text" class="form-control" id="editTitulo" required />
                    </div>


                    <div class="mb-3">
                        <label for="editDescripcion" class="form-label">Descripción</label>
                        <textarea class="form-control" id="editDescripcion" required></textarea>
                    </div>


                    <div class="mb-3">
                        <label for="categorias-select" class="form-label">Categoría</label>
                        <select class="form-select" id="categorias-select" required></select>
                    </div>


                    <div class="mb-3">
                        <label for="listas-select" class="form-label">Lista</label>
                        <select class="form-select" id="listas-select" required></select>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/TareasDashboard.js"></script>