<div class="container px-1">
  <div class="row flex-nowrap">
    <div class="col">
      <div class="task-summary text-center mb-4 d-flex">
        <div class="col">
          <span>Total Listas: <strong>{{totalCount}}</strong></span>
        </div>
        <div class="col">
          <button class="btn btn-primary " style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalCrearLista">
            AGREGAR
          </button>
        </div>
      </div>
        <h2>Mis Listas</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          {{#each listas}}
          <div class="col">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">{{nombre_lista}}</h5>
                <p class="card-text">{{descripcion}}</p>
                <button type="button" class="btn btn-secondary btn-ver" data-id="{{id}}">Ver</button>
                <button type="button" class="btn btn-dark btn-editar" data-id="{{id}}">Editar</button>
                <button type="button" class="btn btn-danger btn-eliminar" data-id="{{id}}">Eliminar</button>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalCrearLista" tabindex="-1" aria-labelledby="modalCrearListaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear Nueva Lista</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form id="formCrearLista">
          <div class="mb-3">
            <label for="nombreListaCrear" class="form-label">Nombre de la Lista</label>
            <input type="text" class="form-control" id="nombreListaCrear" required />
          </div>
          <div class="mb-3">
            <label for="descripcionListaCrear" class="form-label">Descripción</label>
            <textarea class="form-control" id="descripcionListaCrear" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Crear lista</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalVerLista" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalles de la Lista</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <h5 id="verNombreLista"></h5>
        <p><strong>Descripción:</strong> <span id="verDescripcionLista"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEditarLista" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Lista</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form id="formEditarLista">
          <div class="mb-3">
            <label for="editNombreLista" class="form-label">Nombre de la Lista</label>
            <input type="text" class="form-control" id="editNombreLista" required />
          </div>
          <div class="mb-3">
            <label for="editDescripcionLista" class="form-label">Descripción</label>
            <textarea class="form-control" id="editDescripcionLista" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/ListasDashboard.js"></script>